page-car-detail {
    ion-slide {
        img {
            height: 32vh !important;
            width: auto;
        }
    }
    #map {
        height: 18em;
    }
    .sub-item {

        color: rgb(46, 107, 107);
    }
}
