<ion-header>
    <ion-navbar color="dark">
        <button ion-button menuToggle start>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>BEDFORDSHIRE CARS</ion-title>
        <ion-buttons end>
            <!-- <button ion-button icon-only (click)="goCartPage()">
                <ion-icon name="cart"></ion-icon>
            </button> -->
            <button ion-button icon-only (click)="searchToggle()">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button icon-only (click)="goCartPage()">
                <ion-icon name="cart"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar *ngIf=searchOn (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let car of cars" class="car-card">
            <ion-thumbnail item-start>
                <img src="{{ car.thembnail }}">
            </ion-thumbnail>
            <h2>{{ car.name }}</h2>
            <p class="mod-car"><ion-icon name="car"></ion-icon>{{ car.model }}</p>
            <p class="ellpsis-text">{{ car.comment }}</p>
            <div item-end>
                <p>{{ car.unit }}{{ car.price }}</p>
                <button ion-button icon-left color="mid-gray" (click)="onCarDetail(car.id)"><ion-icon name="eye"></ion-icon>show...</button>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<!-- <ion-footer>
    <button full ion-button color="secondary" (click)="callAPI()">TEST</button>
</ion-footer> -->